<!--
 nothing fancy or any significance here
 i use this as a starter template
-->
<style>
  img {
    mix-blend-mode: multiply;
    width: 100px;
  }
</style>
<img src='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png'>
32teeth

<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family: "roboto";
  background: #8e3969;
}  
</style>